.slick-slide img {
    
    width: 100%;
}

.imgslider{
    margin-Top: 100px;
    
    
}
.carousel-image {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    max-height: 300px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the aspect ratio is maintained */
}