.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-icon {
  background: linear-gradient(45deg, #6a1b9a, #9c27b0);
  padding: 20px;
  text-align: center;
}

.card-icon img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff; /* Add a border for a professional look */
  transition: transform 0.3s ease;
}

.card:hover .card-icon img {
  transform: scale(1.1);
}

.card-content {
  padding: 20px;
}

h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .card-container {
    gap: 40px;
  }
}
