@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.body11 {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
    
    background: url(C:\Users\Narayana\Desktop\React\DAY 1\CE\reactapp1\src\images\concept-charity-and-donation-background-with-vector-34503652.jpg) center center/cover no-repeat;
    margin: 0;
}


.box-area {
    width: 930px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .left-box {
        height: 100px;
        overflow: hidden;
    }
    .right-box {
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .featured-image {
      display: none;
    }
}
@media (max-width: 768px) {
    .text1{
      display: none;
    }
  }
